body {
	background-color: white; 
	font-family: arial, Helvetica, sans-serif;
}

.wrapper {
	background-color: lightgray;
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

#prof_pic {
	position: relative;
	float: right;
}


.base_content {
	text-align: center;
	background-color: black;
	color: white;
	padding: 20px;
}

.functional_content {
	padding: 20px;
}

h2 {
	text-align: center;
}

.navigation {
	display: inline-block;
	padding: 20px;
}


nav{
	display: flex;
	justify-content: space-around;
	padding: 20px;
	background-color: darkgrey;
}


.motto {
	width: 1240px;
	
}